* {
    text-decoration: none;
    font-family: "monserrat";
}


body{
    background: url(https://res.cloudinary.com/mrv5122/image/upload/v1573578754/bodyBack2_qnvhi8.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: black;
}

    
    h1 {
        font-family: "Black Ops One", serif;
        font-style: normal;
        font-size: 80px;
        color: whitesmoke;
        text-shadow: black 2px 2px;
        text-align: center;
        background-color: darkcyan;
    }

.headtxt {
    margin-top: 2%;
}

/* shopkeep div & item div */
.middle, .container-shopkeep {
    margin-top: 30px;
}

   

/* container with cards */
.container {
    float: left;
    top: 52%;
    left: 20%;
    text-align: center;
}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    cursor: pointer;
    width: 150px;
    height: 200px;
   margin: 5px;
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.front img {
    height: 100%
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background: darkcyan;
    transform: perspective(600px) rotateY(180deg);
    opacity: 0.9;
}

.back-content {
    color: whitesmoke;
    text-align: center;
    width: 100%;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 8px;
   

}

.sm {
    margin: 20px 0;
}

.sm a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 50%;
}

.sm a:hover {
    background: whitesmoke;
    color: darkcyan;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

/* BUTTON STYLING */
.btndiv {
    position: absolute;
    bottom: 10%;
    width: 15%;
    margin-left: 45%;
    margin-right: 42%;
    opacity: 0.95;
}

/* shopkeep image */
#shopkeep img {
    height: 100%;
}

.container-shopkeep {
    margin-left: 30px;
    float: left;

}

.btndiv a:hover {
    background: whitesmoke;
    color: darkcyan;
}
