body {
    background: url(https://res.cloudinary.com/mrv5122/image/upload/v1573578754/bodyBack2_qnvhi8.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Black Ops One", serif;
    overflow: hidden;
    background-color: black;
}


/* entire jumbotron */
.jumbotron {
    text-align: center;
    padding: 25%, 5%, 25%, 5%;
    z-index: 1;
    opacity: 0.95;
    background-color: darkcyan;
    color: whitesmoke;
    margin-top: 8%;
}



/*header */
.display-4 {
    color: whitesmoke;
    text-shadow: black 2px 2px;

}

/* jumbotron text */
.txtdiv {
    opacity: 1;
    z-index: 2;
}

/* buttons */
.btndiv {
    z-index: 3;
    opacity: 1;
    padding: 0;
}

.btndiv a:hover {
    background: whitesmoke;
    color: darkcyan;
}